<!DOCTYPE html>
<html>
<head>
    <title>✪LG</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="dieandrog is free PSD &amp; HTML template by boostrap">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
	<link rel="stylesheet" href="../static/css/kube.min.css" />
    <link rel="stylesheet" href="../static/css/font-awesome.min.css" />
    <link rel="stylesheet" href="../static/css/custom.min.css" />
    <link rel="shortcut icon" href="../static/img/favicon.ico" />
	<link href='https://fonts.googleapis.com/css?family=Playfair+Display+SC:700' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
	
	<script src="../static/js/footer.js" type="text/javascript" defer></script>
	<style>
		.intro h1:before {
			/* Edit this with your name or anything else */
			content: 'SOFI';
		}
	</style>
</head>

<body>
	<div class="main-nav">
		<div class="container">
			<header class="group top-nav">
				<div class="navigation-toggle" data-tools="navigation-toggle" data-target="#navbar-1">
				    <span class="logo">sofía</span>
				</div>
			    <nav id="navbar-1" class="navbar item-nav">
				    <ul>
				        <li class="active"><a href="#about">Acerca de mi</a></li>
				        <li><a href="#experiences">Experiencia</a></li>
				        <li><a href="#achievements">Formación</a></li>
				        <li><a href="#skills">Competencias (Skills)</a></li>
						<li><a href="my-contacts.html">Contacto</a></li>
				    </ul>
				</nav>
			</header>
		</div>
	</div>

	<!-- Intro -->
	<div class="intro section" id="about">
		<div class="container">
			<p>Hola, soy Sofi Fuentes</p>
			<div class="units-row units-split wrap">
				<div class="unit-20">
					<img src="../static/img/SF-profile-pic.JPG" alt="Avatar">
				</div>
				<div class="unit-80">
					<h1><br><span id="typed"></span></h1>
				</div>
				<p>
					<em>"Cuento con experiencia en administración contable, 
						manejo de caja, gestión documental, archivo y correspondencia.
						Poseo conocimientos en Microsoft Word, Excel y correo electrónico, 
						destacándome por mi eficiencia, capacidad de organización, trabajo en equipo y 
						excelente trato con el público."
						</em>
				</p>
			</div>
		</div>
	</div>


	<!-- Experience -->
	<div class="work section second" id="experiences">
		<div class="container">
			<h1>Experiencia<br>Laboral</h1>
			<ul class="work-list">
				<li>2019-2026</li>
				<li>Administrativa Contable</li>
				<li>Jazzduets (Nicholas Matthew Homes)</li>
			</ul>
			<ul class="work-list work-points">
				<li>Cálculo y gestión de impuestos europeos</li>
				<li>Administración y control de ingresos y egresos</li>
				<li>Gestión de fondos</li>
				<li>Redacción de documentos</li>
				<li>Gestión de correo electrónico y correspondencia</li>
				<li>Organización y archivo de documentación</li>
				<li>Apoyo administrativo general y seguimiento de procesos internos</li>
			</ul>
		</div>
	</div>


	<!-- Education -->
	<div class="award section second" id="achievements">
		<div class="container">
			<h1>Formación Académica</h1>
			<ul class="award-list list-flat">
				<li>2013 - 2018</li>
				<li>Bachiller en economía y administración</li>
				<li>Anglo Americano.</li>
			</ul>
			<ul class="award-list list-flat">
				<li>2018</li>
				<li>Martillero Inmobiliario y Corredor Comercial.</li>
				<li>Instituto CEBA</li>
			</ul>
		</div>
	</div>

	<!-- Skills -->
	<div class="skills section second" id="skills">
		<div class="container">
			<h1>Competencias (Skills)</h1>
			<ul class="skill-list skill-points">
				<li>Administración contable y manejo de caja</li>
				<li>Excel, Word y gestión documental</li>
				<li>Atención al cliente y organización administrativa</li>
				<li>Trabajo en equipo, adaptabilidad y aprendizaje rápido</li>
				<li>Responsabilidad y compromiso</li>
			</ul>
		</div>
	</div>

	<!-- Quote -->
	<div class="quote">
		<!-- <img src="img/reading-slide01.jpg" style="object-fit:contain;
	            width:3000px;
	            height:1000px;" /> -->
		<div class="container text-centered">
			<h1>Enfocada en objetivos, impulsada por desafíos</h1>
		</div>
	</div>
	
	<script src="https://apps.elfsight.com/p/platform.js" defer></script>
	<div class="elfsight-app-0e5060c4-4fcc-405d-b659-2bd6a9dfb4a5"></div>

    <!-- ///////////////////////// FOOTER  ////////////////////////////////////////////////-->
	<body>
		<footer-component>
		</footer-component>
	</body>


	<!-- Javascript -->
	<script src="../static/js/jquery.min.js"></script>
	<script src="../static/js/typed.min.js"></script>
    <script src="../static/js/kube.min.js"></script>
    <script src="../static/js/site.js"></script>
	<script>
		function newTyped() { } $(function () {
			$("#typed").typed({
				// Change to edit type effect
				strings: ["sólida formación en tasación, comercialización y gestión de bienes inmuebles", "negociación y cierre de operaciones inmobiliarias", "Desarrollo de estrategias comerciales para incrementar la cartera de clientes", "Cumplimiento de objetivos comerciales mediante una atención profesional y orientada a resultados."],

				typeSpeed: 90, backDelay: 700, contentType: "html", loop: !0, resetCallback: function () { newTyped() }
			}), $(".reset").click(function () { $("#typed").typed("reset") })
		});
	</script>
</body>
</html>
